html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    font-family: Helvetica, serif;
    font-size: 1vw;
    font-weight: 200;
    color: black;
}

/* Styling the scrollbars */
*::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: white;
    border: 1px solid black;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0px;
    /* border: 1px solid black; */
}

@font-face {
    font-family: "Salicorne";
    src: url("Salicorne-Regular.woff") format("woff"),
    url("Salicorne-Regular.otf") format("otf");
}
/* Positioning elements in the navigation header */
#top-nav {
    display: flex;
    min-width: 101vw;
    flex-wrap: nowrap;
    z-index: 3;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    top: -0.25%;
    left: -1%;
    padding: 0vw 4vw;
    justify-content: space-between;
}

#secondary-title {
    flex-grow: 6;
    padding: 40px 0px 0px 0px;
}

#nav-links {
    flex-grow: 4;
    display: flex;
    justify-content: space-between;
    padding: 0px 7vw 0px 0vw;
}

#title-nav1, #title-nav2, #title-nav3, #title-nav4 {
    padding: 6vh 0px 2vh 0px;
}

/* Setting up the page to be split into two */
#div-left1 {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

#div-right1 {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 1;
}

#div-left2, #div-right2 {
    max-height: 100%;
    overflow: auto;
}

#div-left3, #div-right3 {
    height: 1500px;
    padding: 2.5vw;
    isolation: isolate;
    display: flex;
    flex-direction: column;
}

/* Positioning the H1 typography */
#title-left, #title-right {
    position: fixed;
    mix-blend-mode: multiply;
    padding: 10px;
    top: 3%;
    z-index: 2;
}

/* #intro-left {
    padding-top: 60px;
} */

#introL, #introR, #refL {
    display: flex;
}

#ref {
    order: 3;
}

#refL {
    order: 4;
}

#div-imgL1, #div-imgR1, #div-imgL2, #div-imgL3 {
    padding: 80px 12px 0px 12px;
    /* padding: 20px 12px; */
}

.section-title {
    font-size: 1.25vw;
    transition: 0.3s;
}

.section-title:hover {
    font-size: 1.5vw;
}

#div-txtL1, #div-txtR1, #div-txtL3, #div-txtL4 {
    flex-grow: 1;
    padding: 60px 12px 0px 12px;
    /* padding: 0px 12px; */
}

#div-txtL2, #div-txtR2 {
    order: 2;
    padding: 10px 12px 0px 12px;
}

/* #div-txtL3, #div-imgL2 {
    padding: 0px 12px;
} */

h1 {
    font-family: 'Salicorne', serif;
    /* font-family: Helvetica; */
    font-size: 5vw;
    font-weight: 200;
    color: red;
}

h2 {
    font-family: Helvetica;
    font-size: 1.25vw;
    font-weight: 200;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

img {
    max-width: 20vw;
    transition: 0.3s;
    /* opacity: 90%; */
    /* mix-blend-mode: screen; */
}

img:hover {
    max-width: 30vw;
}
